.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: auto;
}

#show-filter {
  margin: 20px auto 0 auto;
  width: 95%;
  padding: 2px;
}

form {
  width: 97%;
  margin: 20px auto;
  display: none;
}

form h4 {
  margin: 5px auto 10px auto;
}

form label {
  margin-left: 2%;
  float: left;
  margin-bottom: 5px;
}

form input {
  width: 95%;
  margin-bottom: 10px;
}

#apply-changes {
  display: block;
  margin: 5px auto;
  width: 97%;
  background-color: #abb3db;
  padding: 2px;
}

#directions {
  margin-bottom: 0;
}

table {
  margin: 6px auto;
  font-size: 12pt;
  width: 100%;
}

tr:hover {
  background-color: #a7c7cf;
}